body {
    background-color: #900C3F;

    text-align: center;
    border:3px snow;
    font-family:  "Växjö Now",sans-serif;
    display:grid;
    grid-template-rows: 95px auto auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
  }

  header{
grid-area: header;
font-size: 22px;
font-family:Arial;

  }

    
main{
grid-area:main;
display:grid;
grid-template-columns: 1fr 1fr 1fr;
overflow-wrap: break-word;
column-gap: 30px;
grid-template-areas:

"left middle right";
}

.left{

grid-area:left;
border: 3px solid #F8DE22;
border-radius: 30px;
}
.middle{

background-color: #C70039;
color:#F8DE22;
grid-area:middle;
border-radius: 30px;

}

.right{
grid-area:right;
    
    }
 

footer{
grid-area:footer;


}

footer>a{

text-decoration: none;


}






img{
    justify-content: center;
    margin-top: 30px;
    position:relative;
    border-radius: 3%;

    
}

