.title {
}

.info {
  border: 1px solid #f94c10;
  border-radius: 30px;
  background-color: #c70039;
}

body {
  justify-content: center;
  text-align: center;
  background-color: #f94c10;
}

nav {
  grid-area: nav;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "leftNav middleNav rightNav";
}

nav > ul > li > a {
  text-decoration: none;
}
li {
  display: inline-block;
  border: 4px solid;
  background-color: whitesmoke;
  padding-left: 50px;
  padding-right: 50px;
}
